button.reguler {
  width: 100%;
  padding: 8px 10px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 40%);
}

button.bg-blue {
  background-color: rgb(0, 0, 90);
}

button.bg-blue:active {
  background-color: rgba(0, 0, 90, 70%);
}

button.bg-green {
  background-color: rgb(0, 90, 0);
}

button.bg-green:active {
  background-color: rgba(0, 90, 0, 70%);
}

button.bg-red {
  background-color: rgb(90, 0, 0);
}

button.bg-red:active {
  background-color: rgba(90, 0, 0, 70%);
}

button.bg-gray {
  background-color: hsl(0, 0%, 10%);
  color: white;
}

button.bg-gray:active {
  background-color: hsla(0, 0%, 59%, 70%);
}
