form {
  gap: 12px;
  background-color: hsl(0, 0%, 15%);
  border-radius: 10px;
}

form .message {
  bottom: 0rem;
  left: 50%;
  font-size: 15px;
  letter-spacing: 0.1rem;
  word-spacing: 2px;
  font-style: italic;
  text-align: center;
  width: 100%;
  padding: 5px;
  z-index: 99;
}

form .message.true {
  background-color: lightgreen;
  color: darkgreen;
}

form .message.false {
  background-color: lightcoral;
  color: darkred;
}
