/* :root {
  --PHONE: 450px;
  --TABLET: 700px;
  --DEKSTOP: 900px;
} */

*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-weight: 500;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grow {
  flex-grow: 1;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.sticky {
  position: sticky;
}

.hidden {
  display: none;
}

.translate-center-xy {
  transform: translate(50%, 50%);
}

.translate-center-x {
  transform: translateX(50%);
}

.translate-center-y {
  transform: translateY(50%);
}

button {
  appearance: unset;
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}

.jc-center {
  justify-content: center;
}
.jc-start {
  justify-content: start;
}
.jc-end {
  justify-content: end;
}
.jc-around {
  justify-content: space-around;
}
.jc-between {
  justify-content: space-between;
}
.jc-evenly {
  justify-content: space-evenly;
}

.ai-center {
  align-items: center;
}
.ai-start {
  align-items: start;
}
.ai-end {
  align-items: end;
}

/* 
CATATAN MEDIA QUERY:
  --PHONE: 450px;
  --TABLET: 700px;
  --DEKSTOP: 900px;
*/
